* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: bisque;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: orange; /* Yellow color */
  padding: 15px 20px;
  font-size: large;
  display: flex;
  justify-content: center;
  letter-spacing: 27px;
  border-radius: 40px;
  text-indent: 20px;
}

.mouseHover {
  color: brown;
  font-weight: bold;
  font-style: oblique;
  margin: 20px;
}
.sneaky {
  color: #2f4f4f;
}

@keyframes colorCycle {
  0% {
    color: red;
  }
  25% {
    color: blue;
  }
  50% {
    color: green;
  }
  75% {
    color: orange;
  }
  100% {
    color: purple;
  }
}

.color-change {
  animation: colorCycle 2s linear infinite; /* Adjust duration and timing */
}

@media only screen and (max-widht: 768px) {
  html {
    width: 90%;
  }
}
